<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.practo.ohai" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.practo.ohai.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:label="@string/app_name" >
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.practo.ohai" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.OhaiGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.OhaiInstantListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".services.OhaiRegistrationIntentService"
            android:exported="false" >
        </service>

        <receiver
            android:name=".receivers.NotificationBroadcastReceiver" >
            <intent-filter>
                <action android:name="com.practo.ohai.action.NOTIFICATION_CANCELLED" />
                <action android:name="com.practo.ohai.action.NOTIFICATION_VIEW" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
